{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<img src="static/mail/mailfinal.png" alt="cs50mail pic" class="header">
    <div class="banner">
        <h2>Welcome: {{ request.user.email }}</h2>
        <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
        <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
        <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
        <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
        <a class="btn btn-sm btn-outline-danger" href="{% url 'logout' %}">Log Out</a>
    </div>
    <hr>

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>

    <div id="single-view">
        <button class="btn btn-sm btn-outline-success" id="addArchive">Add to Archive</button><button class="btn btn-sm btn-outline-danger" id="removeArchive">Remove from Archive</button><br>
        <strong>From: <span id="single-from" style="font-weight: normal;"></span></strong><br>
        <strong>To: <span id="single-to" style="font-weight: normal;"></span></strong><br>
        <strong>Subject: <span id="single-subject" style="font-weight: normal;"></span></strong><br>
        <strong>Time: <span id="single-time" style="font-weight: normal;"></span></strong><br>
        <button class="btn btn-sm btn-warning" id="replybutton">Reply</button><hr>
        <textarea class="form-control" id="single-body" readonly="readonly"></textarea>
    </div>

    <div id="reply-view">
        <h3>Reply Email</h3>
        <form id="reply-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="reply-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="reply-subject">
            </div>
            <textarea class="form-control" id="reply-body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}